<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8">

    <title>CALENDAL4LIZZY</title>

    <!--테스트용-->
    <script th:src="@{/assets/plugins/openlayers/ol.js}"></script>
    <link th:href="@{/assets/plugins/openlayers/ol.css}" rel="stylesheet" type="text/css"/>
    <!--테스트용-->


</head>
</html>